.account-avatar {
	display: flex;
	justify-content: center;
	width: 40px;
	height: 40px;

	background: #ffffff;
	border-radius: 50%;
}
.account-avatar-name {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	height: auto;
	color: #363f4e;
	font-size: 28px;
}

.acount-avatar-text:hover {
	background: #ffffff;
	color: #363f4e;
	cursor: pointer;
	padding: 5px;
	border-radius: 2px;
}

.account-profile {
	width: 50px;
	height: 50px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

accout-profile p {
	font-size: 1rem;
}

.account-box {
	position: absolute;
	padding: 5px;
	top: 75px;
	right: 40px;
	width: 150px;
	height: auto;
	color: #363f4e;
	z-index: 999999;
	background: #fff;
	border: 1px solid #eaeaea;
	border-radius: 8px;
	text-align: left;
	line-height: 32px;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.1);
}

.account-text {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.account-text:hover {
	background: #363f4e;
	color: #ffffff;
	cursor: pointer;
	scale: 1.1;
	transition: ease all;
}

.box-hidden {
	display: none;
}

.box-show {
	display: block;
}

/* modal preview */



.wrapper-view {
	position: relative;
	z-index: 0;
}
.modal-hidden-box {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: auto;
	box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #e4e4e4;
	color: #000000;
	padding: 2rem;
}

.modal-hidden-box .box-modal {
	width: auto;
	height: 500px;
	position: relative;
	z-index: 999999;
	background-color: #ffffff;
}



.hidden-box {
	display: none;
}

.show-box {
	display: block;
}



.modal-userInfo-box {
	width: auto;
	max-width: 900px;
	height: 100%;
	max-height: 600px;
 background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: auto;
	box-shadow: 2px 2px 10px #dcdcdc, -2px -2px 10px #e4e4e4;
	color: #000000;
	padding: 2rem;
}

.modal-user-hidden-box  {
	width: auto;
	height: 100%;
	position: relative;
	z-index: 999999;
	background-color: #ffffff;
}


.wrappper-info{
	position: relative;
	width: auto;
	
	height: 100%;

}


.info-photo{
	display: flex;
	justify-content: center;


}

.img{
	width:150px;
	height: 150px;
	max-width: 100%;
	background-position: cover;
	object-fit: cover;
	border-radius: 50%;
	
		/* box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #e4e4e4; */
}

.info-photo .image-box {
	/* padding: 0.5rem; */
	
}
.form-user-control{
		width: 100%;
	max-width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	gap:2%;
	border: 1px solid #eaeaea;
	margin: 2rem 0;
	padding-top: 1.5rem;
	/* background-color: red; */
}

/* .form{


} */


.form-action{
	display: flex;
	justify-content: center;
}




.form-action .form-btn,.edit-btn{
	padding: 0.875rem 1rem;
	font-weight: 600;
	color: #363f4e;
	border: none;
	outline: none;
	border-radius: 8px;
	box-shadow: 2px 2px 10px #dcdcdc, -2px -2px 10px #e4e4e4;
}



.form-action .form-btn:hover,.edit-btn:hover{
	background: #363f4e;
	color: #ffffff;
	cursor: pointer;
	
}

.form-edit{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.image-box{
	position: relative;
}

.img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .3);
		border-radius: 50%;
}


.box-photo{
	position: relative;
	width:150px;
	height:150px;
	box-shadow: 2px 2px 5px #eeeeee, -2px -2px 5px #eaeaea;
background: #27364a;
	border-radius: 50%;
}

.default-img{
	color: #ffffff;
font-size: 5rem;
position: absolute;
	top: 15px;
	left: 50px;
	transform: translateX(-50%,-50%);

		/* box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #e4e4e4; */
}


/* .image-user{
	max-width: 150px;
	max-height: 150px;
} */

.image-hidden{
	display: none;
}


.user_profile{
width:80%;
margin:0 auto;
padding: 0 1rem;
}